<module>
	<rawname>logfiles</rawname>
	<repo>standard</repo>
	<name>Asterisk Logfiles</name>
	<version>2.10.0.1</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<changelog>
		*2.10.0.1* CSS tweaks
		*2.10.0.0* new version changes
		*2.9.0.1* #4001
		*2.9.0.0* 2.9 Update
	</changelog>
	<category>Reports</category>
	<menuitems>
		<logfiles>Asterisk Logfiles</logfiles>
	</menuitems>
	<location>release/2.10/logfiles-2.10.0.0.tgz</location>
	<md5sum>dbaf4979ef5a5cd7443b63a17ed458f0</md5sum>
</module>
