<module>
	<rawname>logfiles</rawname>
	<repo>standard</repo>
	<name>Asterisk Logfiles</name>
	<version>2.9.0.1</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<changelog>
		*2.9.0.1* #4001
		*2.9.0.0* 2.9 Update
	</changelog>
	<category>Reports</category>
	<menuitems>
		<logfiles>Asterisk Logfiles</logfiles>
	</menuitems>
	<location>release/2.9/logfiles-2.9.0.1.tgz</location>
	<md5sum>a3b1a3f894c9660a09899a538768363b</md5sum>
</module>
